@inject IJSRuntime JSRuntime

<header>

    <div class="navbar-top">
        <a class="navbar-brand" href="">
            <img src="ontario-logo--desktop.svg" alt="Ontario Logo" />
        </a>
        <h2 class="navbar-title">All things Movies and TVs</h2>
    </div>

    <nav class="navbar-bottom">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="movie">Movie</NavLink>
                </li>
            </ul>
        </div>
    </nav>
</header>

@code {
    private bool collapseNavMenu = true;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
