/* Set a font-size baseline */
html {
    font-size: 16px;
}

/* Style adjustments for the toggler */
.navbar-toggler {
    cursor: pointer;
    width: 44px; /* 2.75rem */
    height: 44px; /* 2.75rem */
    color: white;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    align-self: center;
    border-radius: 0.25rem; /* Add rounded corners */
    display: none; /* Hide by default and will be overridden in media query */
}

/* Apply the Ontario Design System's dark blue color */
.top-row {
    background-color: #1a1a1a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

/* Logo and branding */
.navbar-brand {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.375rem;
    margin-right: auto;
}

/* Navigation link styles */
.nav-link {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
    padding: 0.25rem 1rem;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

    .nav-link:hover, .nav-link:focus {
        background-color: #0056b3;
        color: white;
        border-radius: 0.25rem;
    }

.nav-item ::deep a.active {
    background-color: #002145;
    color: white;
}

.bi {
    width: 20px;
    height: 20px;
    fill: currentColor;
    margin-right: 8px;
}

/* Responsive styles for navigation items */
@media (max-width: 640px) {
    .navbar-toggler {
        display: block; /* Show the toggler icon on small screens */
    }

    .collapse {
        background-color: #1a1a1a;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 0.25rem;
        position: absolute;
        top: 100%;
        right: 1rem;
        z-index: 999;
        width: auto;
        display: none; /* Hidden by default, will be shown when toggled */
    }

        .collapse.show {
            display: block; /* Display the dropdown when toggled */
        }

    .nav-item {
        padding: 0.5rem 1rem;
        border-top: 1px solid #333;
        width: 100%;
    }

        .nav-item:first-child {
            border-top: none;
        }

    .nav-link {
        padding: 0.5rem;
        margin: 0;
        width: 100%;
    }
}

@media (min-width: 641px) {
    .navbar-collapse {
        justify-content: flex-end;
    }

    .nav-item {
        margin-right: 1rem;
    }

    /* Show the navigation links inline for larger screens */
    .nav-item, .nav-link {
        padding: 0.5rem 1rem;
        display: inline-block;
    }

    /* Ensure that the navbar brand and navbar toggler are properly aligned */
    .navbar-brand, .navbar-toggler {
        align-self: center;
    }
}
