html {
    font-size: 16px;
}

/* Styles the top navbar */
.navbar-top {
    background-color: #1a1a1a; 
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

/* Logo */
.navbar-brand img {
    max-width: 100%; 
    height: auto; 
    width: 160px; 
}

/* Title */
.navbar-title {
    font-family: 'Raleway', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    font-size: 1.5rem; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

/* Styles the bottom navbar */
.navbar-bottom {
    background-color: #666666; 
    display: flex;
    justify-content: center; 
    padding: 0.5rem 0; 
}

/* Navigation styles */
.navbar-nav {
    display: flow-root;
}

.navbar-brand,
.navbar-collapse {
    flex-basis: content;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0;
}

.navbar-brand {
    justify-content: flex-start; 
}

.navbar-collapse {
    justify-content: flex-end; 
    padding: 0;
}


.nav-item,
.nav-link {
    font-size: 1.25rem; 
    color: white;
    padding: 0.5rem 1rem; 
    display: inline-block; 
}

.nav-item {
    margin: 0 10px; 
}

/* Hover effect for navbar */
.nav-link:hover, .nav-link:focus {
    background-color: transparent; 
    color: #4b9cd3; 
}

/* Active link styling */
.nav-item ::deep a.active {
    background-color: transparent; 
    color: #FFFFFF; 
}
/* Responsive styles */
@media (max-width: 992px) {
    .navbar-title {
        margin: 0; 
    }

    .navbar-bottom {
        padding: 0; 
    }
}

@media (min-width: 993px) {
    .navbar-collapse {
        justify-content: flex-end; 
    }
}


@media (max-width: 640px) {
    .navbar-brand img {
        width: 120px; 
    }

    .navbar-title {
        font-size: 1rem; 
    }

    .nav-item,
    .nav-link {
        font-size: 0.9rem; 
    }

    .navbar-bottom {
        padding: 0.5rem; 
    }
}